{% extends "layouts/base.html" %} {% load static %} {% block content %}
<body>
  {% include 'layouts/navbar.html' %}
  <!-- Start your project here-->
  <div class="container">
    <div
      class="d-flex justify-content-center align-items-center"
      style="height: 100vh"
    >
      <div class="text-center">
        <!-- Carousel wrapper -->
        <div
          id="carouselExampleControls"
          class="carousel slide text-center carousel-dark"
          data-mdb-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                alt="avatar"
                style="width: 150px"
              />
              <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                  <h5 class="mb-3">Maria Kate</h5>
                  <p>Photographer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Minus et deleniti nesciunt sint eligendi reprehenderit
                    reiciendis, quibusdam illo, beatae quia fugit consequatur
                    laudantium velit magnam error. Consectetur distinctio fugit
                    doloremque.
                  </p>
                </div>
              </div>
              <ul
                class="list-unstyled d-flex justify-content-center text-warning mb-0"
              >
              <li style="padding-left: 20px;">23 years old</li>

                <li style="padding-left: 20px;"><i class="fas fa-heart fa-sm"></i></li>
                <a href="https://api.whatsapp.com/send?phone=15551234567">
                <li style="padding-left: 20px;"><i class="far fa-comments fa-sm"></i></li>
              </a>
              </ul>
            </div>
            {% for user in users %}
            
            <div class="carousel-item">
              <img
                class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                alt="avatar"
                style="width: 150px"
              />
              <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                  <h5 class="mb-3">{{user.user_name}}</h5>
                  <p>Photographer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Minus et deleniti nesciunt sint eligendi reprehenderit
                    reiciendis, quibusdam illo, beatae quia fugit consequatur
                    laudantium velit magnam error. Consectetur distinctio fugit
                    doloremque.
                  </p>
                </div>
              </div>
              <ul
                class="list-unstyled d-flex justify-content-center text-warning mb-0"
              >
              <li style="padding-left: 20px;">{{user.age}} years old {{user.gender}}</li>

              <br>

                
                <form action="" method="post">
                  {% csrf_token %}
                <input type="hidden" name="user_id" value="{{user.id}}">
                   
                <!--Submit like to django backend -->
                <div style="padding: 10px;">
                  <button  type="submit" class="btn btn-warning" >
                    <i class="fas fa-heart fa-sm"></i>
                  </button>
                </div>
                
              </form>
              <div style="padding: 10px;">
                <button  type="submit" class="btn btn-warning" name="">
                  <i class="far fa-comments fa-sm"></i>
                </button>
              </div>
              </ul>
            </div>
            {% endfor %}
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-mdb-target="#carouselExampleControls"
            data-mdb-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-mdb-target="#carouselExampleControls"
            data-mdb-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- Carousel wrapper -->
      </div>
    </div>
  </div>
  <!-- End your project here-->

  {% endblock %}
</body>
